$blue: #3f51b5;
$indigo-dark: #303f9f;
$light-blue: #c5cae9;
$white: #fff;
$pink: #ff4081;
$gray-dark: #212121;
$gray-medium: #727272;
$gray-light: #b6b6b6;

h1, h2, h3, h4, h5, h6 {}
ol {}
li {}
p {}
a {}

.hero {
  background-color: #3f51b5;;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}
.logo {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bold;
}
.news-item {
  border-bottom: 1px solid #b6b6b6;
  margin-bottom:
  padding-bottom:
}
.news-link {}
